/* Імпорт шрифтів з Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
/* Імпорт файлу зі змінними */
@import 'variables';

/* Базові стилі для всіх елементів */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $main-font;
    font-size: 18px;
    outline: none;
}

/* Стилі для полів форм та їх міток */
input, label, select {
    font-size: 16px;
    font-family: $form-font;
}

/* Розміри заголовків */
h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

/* Шрифт для головних заголовків */
h1, h2 {
    font-family: $secondary-font;
}

/* Шрифт для підзаголовків */
h3, h4, h5, h6 {
    font-family: $form-font;
}

/* Базові стилі для основних контейнерів */
html, body, #app {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

/* Мінімальна висота основного контенту */
main {
    min-height: calc(100vh - 300px);
}

/* Колір фону сторінки */
body {
    background-color: var(--main-color);
}

/* Колір тексту для всіх елементів */
* {
    color: var(--text-color);
}

/* Затемнення зображень у темній темі */
body.dark img.can-darken {
    filter: brightness(0.8);
}

/* Стилі для горизонтальної лінії */
hr {
    border: 1px solid var(--secondary-color);
    opacity: 0.5;
    margin: 10px 0;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}
